<div>
    <div>
        <div>
            <h1>Create an account or login</h1>
            <br>
            <a href="/users/login">Login</a>
        </div>
        <div class="container">
            <% bladders.forEach(bladder => { %> 
                <div><%= bladder.itemcode %> </div>
            <% }) %> 
        </div>
    </div>
</div>