<div class="container-header">
    <%- include ('../partials/header') %> 
</div>

<div class="container">
    <div class="container-split">
        <div class="split-left">
            <div class="form-row form-row-links">
                <a href="/setup/storectr"><H3>Lis채채 varasto paikka</H3></a>
            </div>
            <div class="form-row form-row-links">
                <a href="/setup/causectr"><H3>Lis채채 purku syy</H3></a>
            </div>
        </div>       
        
        <div class="split-right">
           

        </div>
    </div>
</div>  

