@import 'shared/header.css';
@import 'shared/log.css';
@import 'shared/fonts.css';
@import 'shared/messages.css';
@import 'shared/dashboard.css';
@import 'shared/master.css';
@import 'shared/admin.css';
@import 'shared/buttons.css';


*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    font-family: 'Montserrat';
    font-size: 20px;
    color: var(--color-text-light)
}

body {
    background: linear-gradient(to right,
    var(--color-background-dark), var(--color-background-light));
}

.container-header {
    margin: auto;
    margin-bottom: 3rem;
}

.container {
    margin: 0 2rem;
    width: 95%;
}

.container-split {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   height: 1000px;
 }
 
.split-left {
    display: flexbox;
    text-align: left;
    width: 400px;
}

.split-left h2 {
    text-align: center;
}

.split-left input {
    float: right;
    width: 200px;
}

.split-right {
    display: flex;
    text-align: right;
    width: 70%;
}


.split-left label {
    float: left;
    padding-right: 1rem;

}

.messages {
    height: 40px;
    font-weight: bolder;
}

.form-row{
    display: flexbox;
    height: 60px;
    padding: 1rem;

}

.form-row input {
    float: right;    
    width: 180px;
}

.form-row select {
    float: right;
    height: 20px;
    width: 180px;
}
.form-row button {
    float: right;
}

