.user-table {
    text-align: left;
}

.user-card {
    border: 2px black solid;
    margin: 1rem;
}

.split-left button {
    text-decoration: none;
    font-size: large;
    color: var(--color-text-button);
    font-weight: bold;
    padding: 0.1rem;
    margin: 0.1rem;
    border-radius: 10px;
    width: 150px;
}
.split-left button:hover {
    text-decoration: none;
    font-size: large;
    color: var(--color-text-button-hover);
    font-weight: bold;
    padding: 0.1rem;
    border-radius: 10px; 
    cursor: pointer;
}

.name {
    width: 250px;
}

.email {
    width: 500px;
}

.luokka {
    width: 200px;
    text-align: left;
}

.muokkaa {
    width: 80px;
    text-align: center;
 
}

.muokkaa button {
    text-decoration: none;
    color: var(--color-text-button);
    font-weight: bold;
    padding: 0.1rem;
    margin: 0.1rem;
    border-radius: 10px;
}

.muokkaa button:hover {
    text-decoration: none;
    color: var(--color-text-button-hover);
    font-weight: bold;
    padding: 0.1rem;
    border-radius: 10px; 
    cursor: pointer;
}