.user-table {
    text-align: left;
}

.user-card {
    border: 2px black solid;
    margin: 1rem;
}


.name {
    width: 250px;
}

.email {
    width: 500px;
}

.luokka {
    width: 200px;
    text-align: left;
}

.muokkaa {
    width: 80px;
    text-align: center; 
}