.table-header {
    text-align: left;
    font-weight: bold;
    padding-bottom: 1rem;
}

.unique {
    width: 100px;
    text-align: left;
}

.line {
    width: 100px;
    text-align: left;
}

.item {
    width: 100px;
    text-align: left;
}

.store {
    width: 100px;
    text-align: center;
}

.qty {
    width: 200px;
    text-align: center;
}

.date {
    width: 150px;
    text-align: center;
}

.versio {
    width: 100px;
    text-align: center;
}

