:root {
    --color-base-hue: 170;
    --color-background-dark: hsl(var(--color-base-hue), 4%, 15%);
    --color-background-light: hsl(var(--color-base-hue), 39%, 32%);
    --color-text-light: hsl(var(--color-base-hue), 100%, 40%);
    --color-text-button: hsl(var(--color-base-hue), 100%, 20%);
    --color-text-button-hover: hsl(var(--color-base-hue), 100%, 40%);
    --color-text-link: hsl(var(--color-base-hue), 100%, 40%);
    --color-text-link-hover: hsl(var(--color-base-hue), 100%, 30%);
    --color-background_header-dark: hsl(var(--color-base-hue), 30%, 10%);
    --color-background_header-light: hsl(var(--color-base-hue), 40%, 40%);
}