<div class="login-main">
   <div class="login-border">
        <h1 class="login-header">Login</h1>
        <%- include ('../partials/messages') %>
        <form action="/users/login" method="POST">
            <div class="login-sub">
                <label for="email">Email</label>
                    <input
                        type="email"
                        id="email"
                        name="email"
                        class="form-control"
                        placeholder="Enter Email"
                    />
            </div>
            <div>
                <label for="password">Password</label>
                    <input
                        type="password"
                        id="password"
                        name="password"
                        class="form-control"
                        placeholder="Enter Password"
                    />
            </div>
            <div class="log_btn">
                <button class="btn" type="submit">Login</button>
            </div>
        </form>
        <div class="log-footer">
        </div>
    </div>
</div>